ul {
  padding: 0;
  border-radius: 10px;
  width: 100%;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  border: 1px #f3f3f3 solid;
  margin:0;
  padding: 10px 15px;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #f3f3f3;
  }
}
li:first-child {
  border-radius: 8px 8px 0 0;
}
a {
  color: #2f2f2f;
  text-decoration: none;
}

.selected {
  background: #f9f9f9;
}
