a {
  color: #333;
  font-size: 2rem;
  margin-bottom: 2rem;
}

:host {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #f9f9f9;
}

button {
  margin-top: 3rem;
  align-self: flex-end;
}

