:host {
  display: flex;
}

app-problem-list, app-problem {
  max-height: 100vh;
  width: 50%;
  padding: 25px;
  overflow-y: scroll;
}


.button {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 0px 0px 3px rgba(56, 76, 167, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  background: rgb(56, 76, 167);
  transition: 0.5s;
  overflow-y: scroll;

  app-add-problem {
    transform: scale(0);
    transition: 0.5s;
  }
}

.expand {
  background: transparent;
  border: 2px rgb(56, 76, 167) solid;
  border-radius: 10px;
  height: 600px;
  width: 300px;
  app-add-problem {
    transform: scale(1);
  }
}
