:host {
    display: flex;
}

app-problem-list,
app-problem {
    margin-top: 3rem;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0 25px;
    width: 45%;
}

app-problem {
    padding: 25px;
    width: 55%;
}
